<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python MySQL stock screener</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="jumbotron">
        <h1>Python MySQL stock screener</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="overview" role="button">Overview</a>
        </p>
    </div>
    <h2>Sectoral Analysis</h2>
    <div class="row marketing">

        <div class="col-lg-6">

            <a href="http://127.0.0.1:5000/sector/cement"><h4>Cement</h4></a>
            <p>ACC, Ambuja, Heidelberg cem, India cements, JK Cements, Ramco, Ultratech, Dalmia</p>

            <a href="http://127.0.0.1:5000/sector/infotech"><h4>Information Technology</h4></a>
            <p>HCL Tech, Infosys, TCS, 8K Miles, Mindtree, MphasiS, Tech Mahindra, NIIT</p>

            <a href="http://127.0.0.1:5000/sector/banking"><h4>Banking</h4></a>
            <p>SBI, Axis, Bandhan, HDFC, ICICI, Karur vysya, Yes bank, kotak mahindra</p>
        </div>

        <div class="col-lg-6">
            <a href="http://127.0.0.1:5000/sector/food"><h4>Food</h4></a>
            <p>Brittania, coffee day, hatsun agro, heritage foods, kohinoor foods, kwality, vadilal, Future consumer</p>

            <a href="http://127.0.0.1:5000/sector/pharma"><h4>Pharma</h4></a>
            <p>Aarti drugs, ajanta pharma, sun pharma, biocon, cipla, dr. reddys, GlaxoSmithKline, Pfizer</p>

            <a href="http://127.0.0.1:5000/sector/misc"><h4>miscellaneous</h4></a>
            <p>Finolex, Pidilite, Guj Ind Power, Power grid corp, Schneider infra, Torrent power, Kalpataru Power, KEC Intl</p>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; Gautam Padiyar<br>&copy; Aditya Subramanian</p>
    </footer>

</div>

</body>
</html>

